* { box-sizing: border-box; }

h1 { text-align: center; }

section {
    display: flex;
    justify-content: center; 
}
.container {
    height: 100px;
    width: 100%;
    background: rgb(97, 173, 248);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.list-Cont {
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-Cont input {
    margin-bottom: 10px;
    margin-right: 5px;
}
input[type='text'] { width: 100%; }

input:checked + p { text-decoration: line-through; }

#footer {
    height: 50px;
    width: 100%;
    background-color: rgb(208, 208, 208);
    color: white;
    position: absolute;
    bottom: 0;
    text-align: center;

}

#footer a {
   margin: 5px;
   text-decoration: none;
}